p.caption {
  color: #111111;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Format core theme navbar buttons */
.book .book-header .btn{display:block;height:50px;padding:0 15px;border-bottom:none;color:black;text-transform:uppercase;line-height:50px;-webkit-box-shadow:none!important;box-shadow:none!important;position:relative;font-size:14px}

.book .book-header .btn:hover{position:relative;text-decoration:none;color:#0099fe;background:0 0}

.dropdown-menu .buttons .button{border:0;background-color:transparent;color:black;width:100%;text-align:center;float:left;line-height:1.42857143;padding:8px 4px}

.dropdown-menu .buttons .button:hover{color:#0099fe}

/*
*Theme 1 changes (Sepia)
*/
.book.color-theme-1 .book-header .btn {
  color: #73553c;
}
.book.color-theme-1 .book-header .btn:hover {
  color: #453326;
  background: none;
}
.book.color-theme-1 .dropdown-menu .button {
  color: #A79E90;
}
.book.color-theme-1 .dropdown-menu .button:hover {
  color: #E1964C;
}
.book.color-theme-1 .book-summary {
  color: #A79E90;
  background: #111111;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
.book.color-theme-1 .book-summary ul.summary li.done > a {
  color: #A79E90;
}
.book.color-theme-1 .book-summary ul.summary li a,
.book.color-theme-1 .book-summary ul.summary li span {
  color: #A79E90;
  background: transparent;
  font-weight: normal;
}
.book.color-theme-1 .book-summary ul.summary li.active > a,
.book.color-theme-1 .book-summary ul.summary li a:hover {
  color: #E1964C;
  background: transparent;
  font-weight: normal;
}
.book.color-theme-1 .book-body p.caption{
  color: #704214;
}

/*
*Theme 2 changes (Night)
*/
.book.color-theme-2 .book-header .btn {
  color: #A8AAC2;
}
.book.color-theme-2 .dropdown-menu .button {
  color: #c1c6d7;
}
.book.color-theme-2 .dropdown-menu .button:hover {
  color: #f4f4f5;
  background: #252737;
  font-weight: 600;
}
.book.color-theme-2 .book-body p.caption{
  color: #a8b4c4;
}

/* Simplify formatting of navbar link */
.book .book-header h1 {
  background: none;
  border: none;
  color: black;
}



/* Format title text */
.title {
  background: none;
  border: none;
 }

/* Format author text */
.author {
  font-style: normal;
  font-size: 22px;
}

/* Format date text */
.date {
  font-style: normal;
  font-size: 22px;
}

h1 {
  background-color: rgba(228, 131, 5, 0.1);      /* rgba(207, 0, 15, 0.2) is a red */
  border-top: solid;
  border-right:solid;
  border-bottom: solid;
  border-color: rgb(245, 149, 5);
  border-radius: 0 30px 30px 0;
  padding-left: 5px;
  /*display: table-caption;*/
  width: 75%;
}

div.theorem, div.lemma, div.corollary, div.proposition, div.conjecture,
div.definition, div.example, div.exercise, div.hypothesis, div.proof,
div.remark, div.activity, div.discussion, div.note, div.tip, div.solution,
div.notation, div.mistake, div.keypoint{
  background-size: contain;
  border-left: solid;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;                          /* Gives space around definition box */
  padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-style: normal;
}

div.definition{
  background-color: rgba(207, 0, 15, 0.1);       /* red background */
  border-color: rgba(207, 0, 15);
}

div.theorem, div.lemma, div.corollary {
  background-color: rgba(11, 108, 199,0.1);       /* blue background */
  border-color: rgba(11, 108, 199);
}

div.proposition, div.conjecture, div.hypothesis {
  background-color: rgb(205,187,14,0.1);
  border-color: rgb(205,187,14);
}

div.example {
  background-color: rgb(12,181,40,0.1);
  border-color: rgb(12,181,40);
}

div.exercise {
  background-color: rgb(142,23,172,0.1);
  border-color: rgb(142,23,172);
}

div.solution {
  border-color: rgb(142,23,172);
}

div.proof {
  border-color: rgba(11, 108, 199);
}

.proof:before {
  font-style: normal;
  font-weight: bold;
}

div.remark, div.note, div.notation{
  /*background-color: rgb(255,254,155,0.1);
  border-color: rgb(255,254,155);*/
  background-color: rgb(220,65,194,0.1);
  border-color: rgb(220,65,194);
}

.note:before {
  content: "Note";
  font-weight: bold;
}

.notation:before {
  content: "Notation";
  font-weight: bold;
}

div.activity {
  background-color: rgb(142,23,172,0.1);
  border-color: rgb(142,23,172);
}

.activity:before {
  content: "Lecture Activity";
  font-weight: bold;
}

div.discussion {
  background-color: rgb(142,23,172,0.1);
  border-color: rgb(142,23,172);
}

.discussion:before {
  content: "Discussion";
  font-weight: bold;
}

div.tip {
  background-color: rgb(245, 149, 5, 0.1);
  border-color: rgb(245, 149, 5);
}

.tip:before {
  content: "Tip";
  font-weight: bold;
}

/* Logos */
.UoNLogo {width:250px; height:92px; background:URL(logos/UoNTransparent.png) no-repeat; background-size:250px 92px;}

.color-theme-1 .UoNLogo {width:250px; height:92px; background:URL(logos/UoNTransparentDark.png) no-repeat; background-size:250px 92px;}

.color-theme-2 .UoNLogo {width:250px; height:92px; background:URL(logos/UoNTransparentDark.png) no-repeat; background-size:250px 92px;}


.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
  color: #333;
  background: #f7f7f7;
  border-color: #f7f7f7;
}

/* Adding colour text in different modes */

.book .book-body .page-wrapper .myhl {color: #0000FF}

.book.color-theme-2 .book-body .page-wrapper .myhl {color: #41b6eb}

.book.color-theme-1 .book-body .page-wrapper .myhl {color: #0000FF}

.book .book-body .page-wrapper .myhl2 {color: #CD2026}

.book.color-theme-2 .book-body .page-wrapper .myhl2 {color: #FFC845}

.book.color-theme-1 .book-body .page-wrapper .myhl2 {color: #CD2026}


.book .book-body .page-wrapper .myhl3 {color:#2e8540 }

.book.color-theme-2 .book-body .page-wrapper .myhl3 {color: #64eb34}

.book.color-theme-1 .book-body .page-wrapper .myhl3 {color:#8c34eb}

/* Adding URL colour in Sepia */
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a{
  color:#770000;
}

/* Adding colour to mathematical notation */


.book .book-body .page-wrapper .mjx-mstyle[style*="color: blue"] {
color: #0000FF !important;
}
.book.color-theme-1 .book-body .page-wrapper .mjx-mstyle[style*="color: blue"] {
color: #0000FF !important;
}
.book.color-theme-2 .book-body .page-wrapper .mjx-mstyle[style*="color: blue"] {
color:  #41b6eb !important;
}



.book .book-body .page-wrapper .mjx-mstyle[style*="color: red"] {
color: #CD2026 !important;
}
.book.color-theme-1 .book-body .page-wrapper .mjx-mstyle[style*="color: red"] {
color: #CD2026 !important;
}
.book.color-theme-2 .book-body .page-wrapper .mjx-mstyle[style*="color: red"] {
color:  #FFC845 !important;
}

.book .book-body .page-wrapper .mjx-mstyle[style*="color: green"] {
color: #2e8540 !important;
}
.book.color-theme-1 .book-body .page-wrapper .mjx-mstyle[style*="color: green"] {
color: #8c34eb !important;
}
.book.color-theme-2 .book-body .page-wrapper .mjx-mstyle[style*="color: green"] {
color:  #64eb34 !important;
}


div.mistake{
   background-color: rgba(207, 0, 15, 0.1);       /* red background */
  border-color: rgba(207, 0, 15);
}

.mistake:before {
  content: "Common mistake";
  font-weight: bold;
}

div.keypoint {
  background-color: rgb(12,181,40,0.1);
  border-color: rgb(12,181,40);
}

.keypoint:before {
  content: "Key point";
  font-weight: bold;
}

/* Adding URL colour in Sepia */

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a{
  color:#E1964C;
}
}
